*{
  padding: 0;
  margin: 0;
}

/* ヘッダー装飾 */
header{
  width: 100vw;
  height: 60px;
  background-color: #3f3f42;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
@media (max-width: 780px) {
  header{
    width: 100vw;
    height: 30px;
  }
}

.header-logo{
  display: block !important;
  width: 300px;
  height: 60px;
}
@media (max-width: 780px){
  .header-logo{
    width: 90px;
    height: 40px;
  }
}
.header_logo_sp{
  display: none !important;
}
@media only screen and (max-width: 780px){
  .header-logo{
    display: none !important;
  }
  .header_logo_sp{
    display: block !important;
    width: 90px;
    height: 35px;
  }
}

.header-button > button{
  padding: 5px;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  transform: 3s;
}
.header-button > button:hover{
  border-radius: 100vh;
  border: none;
  background: white;
  color: #92cb97;
}

@media (max-width: 780px){
  .header-button > button{
    font-size: 7px;
  }
}


/* メイン装飾 */
main{
  height: 80%;
  width: 100vw;
  background-image: url("./image/22319717.jpg");
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}
.desc{
  width: 40vw;
  height: 60%;
  margin-top: 60px;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 780px) {
  .desc > img{
    width: 15em;
  }
}
.p-1{
  font-size: 20px;
  text-align: left;
}
@media (max-width: 780px) {
  .p-1{
    font-size: 15px;
  }
  .p_br{
    display: none;
  }
}

/* メインボタン装飾 */
.main-button{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn-1{
  width: 400px;
  height: 70px;
  margin: 5px;
  padding: 10px;
  color: white;
  font-size: 25px;
  background: #ed1c24;
  border-radius: 100vh;
  border: none;
  transform: 3s;
}
.btn-1:hover{
  transform: scale(1.1);
}

.btn-2{
  width: 400px;
  height: 70px;
  margin: 5px;
  padding: 10px;
  color: white;
  font-size: 25px;
  background: #5c73b7;
  border-radius: 100vh;
  border: none;
  transform: 3s;
}
.btn-2:hover{
  transform: scale(1.1);
}
@media (max-width: 780px) {
  .btn-1{
    width: 250px;
    font-size: 15px;
    height: 35px;
    text-align: center;
  }
}
@media (max-width: 780px) {
  .btn-2{
    width: 250px;
    font-size: 15px;
    height: 35px;
    text-align: center;
  }
}

/* テーマ */
.thema{
  width: 100%;
  height: 200px;
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thema > p{
  font-size: 50px;
  font-weight: bold;
}
@media (max-width: 780px) {
  .thema{
    margin: 5px 0px;
  }
  .thema > p{
    font-size: 30px;
  }
}

/* メイン記事 */
.one{
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 780px) {
  .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.two{
  margin: 40px 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
@media (max-width: 780px) {
  .two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.essay{
  width: 400px;
}
@media (max-width: 780px) {
  .essay{
    width: 100vw;
  }
}

.essay-img{
  height: 400px;
  width: 400px;
}
@media (max-width: 780px) {
  .essay-img{
    height: 200px;
    width: 200px;
  }
}


.essay > h3{
  font-size:35px;
  font-weight: bolder;
  background: linear-gradient(transparent 75%, yellow 25%);
}
@media (max-width: 780px) {
  .essay > h3{
    font-size: 30px;
    text-align: center;
  }
  .essay > p{
    width: 80vw;
    margin: 20px auto;
    line-height: 28px;
  }
}

/* クラス：キャッチフレーズ */
.catchphrase{
  width: 100vw;
  height: 650px;
  background-image: url(./image/背景.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catchphrase > h1{
  text-align: center;
  color: white;
  font-size: 50px;
  letter-spacing: 0.3em;
}
@media (max-width: 780px) {
  .catchphrase > h1{
    font-size: 35px;
    line-height: 75px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.catchphrase > p{
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 780px) {
  .catchphrase > p{
    line-height: 40px;
    margin: 0px 20x;
  }
}

/* クラス：welcom */
.welcome{
  width: 100vw;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome > h3{
  margin: 15px 0px;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.2em;
}
@media (max-width: 780px) {
  .welcome > h3{
    text-align: center;
    font-size: 30px;
    margin: 35px 35px;
  }
}

.welcome > button{
  width: 300px;
  height: 70px;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 25px;
  background: #ed1c24;
  border-radius: 100vh;
  border: none;
  transform: 3s;
}
.welcome > button:hover{
  transform: scale(1.1);
}

.last-img{
  height: 180px;
  width: 100%;
  background-image: url(./image/last-img.jpg);
  background-size: contain;
}

footer{
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f3f42;
}

small{
  color: white;
  text-align: center;
  font-size: 15px;
}

